<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Shop online for fresh vegetables, fruits and grocery and get your order delivered at your doorstep. Enjoy instant delivery with Hello Kirana, This is a complete solution of an online grocery and ecommerce website." name="description">
    <link rel="icon" href="{% static "images/logo.png" %}" type="image/x-icon">
  
   
</head>
<body>
    {% include "bazaar/loader_whatsapp.html" %}
    {% include "bazaar/navbar.html" %}
    <br><br><br><br>
  
    <center>
      <h3 style="color: darkolivegreen;">Privacy Policy</h3>
      <h4 style="color: #9daf7d;">Online Grocery Shop</h4>
<br>
    Dummy text
    <br><br>
    </center>
  {% include "bazaar/footer.html" %}
</body>
</html>